@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes swipe-out {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }

  to {
    transform: translateX(100%);
  }
}

.toast[data-state='open'] {
  animation: slide-in 350ms cubic-bezier(0.16, 1, 0.3, 1);
}

.toast[data-state='closed'] {
  animation: hide 200ms ease-in forwards;
}

.toast[data-swipe='move'] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}

.toast[data-swipe='cancel'] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}

.toast[data-swipe='end'] {
  animation: swipe-out 100ms ease-out forwards;
}
