@keyframes accordion-open {
  from {
    max-height: 0;
  }
  to {
    max-height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-close {
  from {
    max-height: var(--radix-accordion-content-height);
  }
  to {
    max-height: 0;
  }
}

.content {
  overflow: hidden;
}

.content[data-state='open'] {
  animation: accordion-open 300ms ease-out forwards;
}

.content[data-state='closed'] {
  animation: accordion-close 300ms ease-out forwards;
}
